.pytest_cache/
__pycache__/
venv/
timings_partial.pdf
timings_partial_nb_hq.pdf
data/
processed_data/
.DS_Store
results_icp/
shape_registration_error_vs_timings*.pdf
shape_figs/
tex_tmp/
perturbed_sliced.py
partial_old.py
test_swgg_optim_1d.py
visu_error_shape.py
SPW_classification.pdf
grad_PAWL.pdf